<section class="new-details">
    <div fxFlex fxLayout="row" fxLayout.xs="column" 
    fxLayoutAlign.sm="center center"
    fxLayoutAlign.xs="space-arround center"
     fxLayoutGap="1rem" >
        
      <div   fxLayout="row" fxLayoutAlign="space-arround center" fxLayoutGap="1rem">
            <div class="mat-details" fxLayoutAlign="center center">
              <mat-icon matBadge="618"
                        matBadgeColor="">people</mat-icon>
              <span class="heading-uppercase">Total Users</span>
            </div>

            <div class="mat-details" fxLayoutAlign="center center">
                <mat-icon matBadge="18">fiber_new_outline</mat-icon>
                <span class="heading-uppercase">New Users</span>
            </div>
      </div> 
      
      
              <div  fxLayout="row" fxLayoutAlign="space-arround center" fxLayoutGap="1rem">

                    <div class="mat-details" fxLayoutAlign="center center">
                      <mat-icon matBadge="61">whatshot</mat-icon>
                      <span class="heading-uppercase">Online</span>
                    </div>

                    <div class="mat-details" fxLayoutAlign="center center">
                        <mat-icon matBadge="1123">graphic_eq</mat-icon>
                        <span class="heading-uppercase">Visiters</span>
                    </div>
              </div>
      </div>
</section>
<mat-divider></mat-divider>

<section class="reprting-container">

  

  <!-- inside reportin header navigation filter button customization button are placed -->
  <div class="reporting-header"  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center space-between">

     
      
  </div><!-- reporting header ends here -->
<mat-divider></mat-divider>








<div class="reporing-body">
  <!-- chart implimentation -->
  <div class="mat-chart" style="position: relative; ">
    <div fxLayout="row" fxLayoutAlign="space-between ">
      
        <span class="info-text">Users</span>

        <!-- one more button for this user time analysis -->
        <div fxLayoutAlign="end">
        <button mat-button [matMenuTriggerFor]="period" class="button-border" >
          
            {{chartName}}
            
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #period="matMenu">
              <!-- <a [routerLink]="['/bar-chart']" routerLinkActive="router-link-active" > -->
               <button mat-menu-item (click)="loadBarChart()">Bar chart</button>
              <!-- </a> -->
                     
            
              <button mat-menu-item (click)="loadPieChart()"> Pie chart</button>
              <button mat-menu-item (click)="loadLineChart()"> Line chart</button>
  
  
          </mat-menu>
        </div>

    </div>
    <app-bar-chart *ngIf="barLoaded"></app-bar-chart>
    <app-line-chart *ngIf="lineLoaded"></app-line-chart>
    <app-doughnut-chart *ngIf="doughnutLoaded"></app-doughnut-chart>
    <app-pie-chart *ngIf="pieLoaded"></app-pie-chart>
    
      <!-- <canvas id="myChart"  ></canvas> -->

  </div>




  <!-- according to location data -->
  <section class="location-data">
    <div class="mat-chart">
      <span class="info-text">Locations</span>
      <div fxLayout="row" fxLayoutAlign="end">
          <button mat-button [matMenuTriggerFor]="Locations" class="button-border">
                  Locations
                 <mat-icon>arrow_drop_down</mat-icon>         
          </button>
            <mat-menu #Locations="matMenu">
                <button mat-menu-item> Country</button>
                <button mat-menu-item> States</button>
                <button mat-menu-item> District</button>
            </mat-menu>
      </div>  
    </div>
  </section>

</div> <!-- reporting body ends here -->
  

</section><!--reporting container ends here-->