<div class="container" fxLayout="row"  fxFlexAlign="center">
<form action="#" method="POST" name="search">
            <div class="field-input" fxFlex>
              <input type="text" placeholder="Search..." name="keyword">
              
            </div>
            <div class="search-button" fxFlex fxLayoutAlign="end">
                <button mat-icon-button type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
    </form>      
  </div>
 
       