*{
  line-height: normal;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  min-width: 150px;
  height: 100%;
  border-radius: 6rem;
  border: 1px solid #a0a0a0;
}
.container .field-input {
  text-align: center;
}
input[type="search" i] {
  -webkit-appearance: searchfield;
  box-sizing: border-box;
}
.container input {
  color: #333;
    border: none;
    border-radius: 100px;
    /* background-color: #fafafa; */
    
    
    width: 180px;
    max-width: 240px;
    /* height: 50%; */
    -webkit-appearance: none;
  text-align: left;
  /* border: none; */
  padding: .6rem 1rem .6rem 1rem;
  /* width: 20rem; */
  
  background-color:transparent;
  font-family: 'roboto';
  
}
.container .field-input input:focus {
  outline: none;
}
.container:hover,
input:focus .container,
input:active .container
{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);  
  }
mat-icon  {  
  cursor: pointer;
  color: #4285f4;
  
}
.search-icon{
  text-align: center;
  border-radius: 6rem;

  
}

button:hover,button:focus,button:active{
    outline: none;
    border: none;
    background-color:transparent;
}
