<div fxLayout="column" fxLayoutAlign="center center" >
        <div class="menu" >
                <a [routerLink]="['/reporting']" routerLinkActive="router-link-active" >
                        <button mat-icon-button><mat-icon>dashboard</mat-icon></button>
                        <!-- <span class="icon-name">Reporting</span> -->
                        
                </a>
        </div>
        
        <div class="menu" >
        
                <button mat-icon-button><mat-icon>timeline</mat-icon></button>
                <!-- <span class="icon-name">Timeline</span> -->

        </div>
        <div class="menu" >
        
                <button mat-icon-button><mat-icon>email</mat-icon></button>
                <!-- <span class="icon-name">Email</span> -->

        </div>
        <div class="menu" >
        
                <button mat-icon-button><mat-icon>settings</mat-icon></button>
                <!-- <span class="icon-name">Settings</span> -->

        </div>
</div>        
