      
<div class="special-button-conatiner special-button-1"  fxLayoutAlign="space-arround center"
(click)="openBottomSheet()" >
        <button mat-icon-button >
        <i class="material-icons add-icon">add</i>
        <span>Create</span>
        </button>
</div>

<div fxLayout="column" fxLayoutAlign="center " fxLayoutGap="5px" >


        
        
              
                        <mat-expansion-panel class="mat-expansion">
                                        
                                <mat-expansion-panel-header fxLayoutAlign="center center" class="mat-expansion-header">
                                                
                                                <mat-icon>equalizer</mat-icon>
                                                <span class="menu-text">Dashboard</span>
                                                
                                </mat-expansion-panel-header>
                                        
                               <mat-list>
                                       <mat-list-item>
                                                <div class="nav-menu" >
                                                <a [routerLink]="['/reporting']" routerLinkActive="router-link-active" >
                                                        <button mat-icon-button><mat-icon>dashboard</mat-icon></button>
                                                        <span class="menu-text">Reporting</span>
                                                        
                                                </a>
                                        </div>
                                         </mat-list-item>
                                
                                        <mat-list-item>
                                        <div class="nav-menu" >
                                        
                                                <button mat-icon-button><mat-icon>timeline</mat-icon></button>
                                                <span class="menu-text">Timeline</span>
                                
                                        </div>
                                        </mat-list-item>

                                        <mat-list-item>
                                        <div class="nav-menu" >
                                        
                                                <button mat-icon-button><mat-icon>email</mat-icon></button>
                                                <span class="menu-text">Email</span>
                                
                                        </div>
                                        </mat-list-item>

                                        <mat-list-item>
                                        <div class="nav-menu" >
                                        
                                                <button mat-icon-button><mat-icon>settings</mat-icon></button>
                                                <span class="menu-text">Settings</span>
                                
                                        </div>
                                        </mat-list-item>                
                                </mat-list>
                                
                        </mat-expansion-panel>
                
        

        <div class="nav-menu">
                        <button mat-icon-button><mat-icon>trending_up</mat-icon></button>
                        <span class="menu-text">Trending</span>
        </div>

        <div class="nav-menu">
                        <button mat-icon-button><mat-icon>style</mat-icon></button>
                        <span class="menu-text">Customize</span>
        </div>
<a [routerLink]="['/randum']" routerLinkActive="router-link-active" >
        <div class="nav-menu">
                        <button mat-icon-button><mat-icon>school</mat-icon></button>
                        <span class="menu-text">Start test</span>
        </div>
</a>

        <div class="nav-menu">
                        <button mat-icon-button><mat-icon>mail</mat-icon></button>
                        <span class="menu-text">Mail</span>
        </div>

        <div class="nav-menu">
                        <button mat-icon-button><mat-icon>settings</mat-icon></button>
                        <span class="menu-text">Settings</span>
        </div>

        <div class="nav-menu">
                        <button mat-icon-button><mat-icon>vpn_key</mat-icon></button>
                        <span class="menu-text">Logout</span>
        </div>

</div>