.example-header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  
  background-color: white;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  

}
mat-toolbar{
  background-color: #666666;

}
span{
  display:inline-block;
  line-height: normal;
  

  margin-left: .5rem;

}

.username-email-container{
  padding: 1rem 0rem 1rem 0rem;
}
.username{
  position: relative;
  display: block;
  color: #222222;
  font-size: 1.2rem;
  font-weight: bold !important;
  margin: 0;
  padding: 0;
  line-height: normal;
}
.email{
  display: block;
  padding: 0;
  margin: 0;
  color: #666666;
  margin-top: .02rem;
  line-height: normal;
}

button a{
  text-decoration: none;
  color: black;
}
button:active,button:visited,button:focus{
  outline: none;
  border: none;
}

button i{
  text-align: center;
  vertical-align: center;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.vertical-center {
  margin: 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mat-menu-account{
  position: relative;
  width: auto;
  padding: 1rem;

}
#mini-profile-container{
  width: 40vw;
  height: auto;
  padding: .5rem;
  display: block;
  background-color: #E8E8E8;
}
mat-menu-item .account{
  position: relative;
}
.avatar-big{
  width: 5rem;
  height: 5rem;
  vertical-align: middle;
}
@media (max-width:420px){
  button.mat-menu-item{
    width: 70vw !important;
    height: auto;
  }

}

.no-effect-card{
  box-shadow: none;
  outline: none;
  background-color: transparent;
  border: none;

}
#avatar{
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
overflow: hidden;
border-radius: 50%;
line-height: normal;
position: relative;
}

.topnav-left{
  
}