
<mat-sidenav-container class="example-container">
  
  <!-- sidenav -->
    
    <mat-sidenav #sidenav mode="side"  [(opened)]="opened"
      
      fxLayout="column" 
      fxLayoutAlign="start" >
      <div>QBase</div>
      <div>
        <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Personal data
                </mat-panel-title>
                <mat-panel-description>
                  Type your name and age
                </mat-panel-description>
              </mat-expansion-panel-header>
          
              <mat-form-field>
                <input matInput placeholder="First name">
              </mat-form-field>
          
              <mat-form-field>
                <input matInput placeholder="Age">
              </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-sidenav>
  <!-- ------------ -->
    <mat-sidenav-content>
        <mat-card class="mat-card-nav">
            <div class="topnav">
              <div topnav-left>
                <!-- button form sidenav open and close --> 
                  <button mat-button (click)="sidenav.toggle()">
                    <i class="material-icons"> menu</i>
                  </button>     
                <!-- ---------------------------------- -->
              </div> 
              
                <!-- button for search -->
              <div class="topnav-right" fxFlex fxLayout="row" fxLayoutAlign="end ">
              <button mat-button 
                      matTooltip="Search" >
                      <i class="material-icons">search</i>
              </button>
                <!-- -------------------------- -->
                <!-- button for notification -->
                <button mat-button [matMenuTriggerFor]="notification" 
                   matBadge="8"
                   matBadgeColor="accent"
                   matTooltip="Notifications">
                  <i class="material-icons"> notification_important</i>
                </button>
                <mat-menu #notification="matMenu">
                  <button mat-menu-item>
                    <a [routerLink]="[ '/notification', routeParam ]">
                      <app-avatar></app-avatar> <span>new question uploaded</span>
                    </a> 
                </button>
                </mat-menu>
                <!-- -------------------------------- -->
                <!-- button for acoount navigation -->
              <button mat-button [matMenuTriggerFor]="account">
                <!-- avatar module inserted -->
                    <app-avatar></app-avatar><span>  wolverine</span>
                <!-- ---------------- -->
              </button>
            <mat-menu #account="matMenu">
                <button mat-menu-item><a [routerLink]="[ './login']">login</a></button>
                <button mat-menu-item><a [routerLink]="[ './question']">Show Question</a></button>

                <button mat-menu-item>settings</button>
            </mat-menu>
            <!-- ------------------------------- -->
          </div>
        </div>
             
          </mat-card>
      <!-- ----------------------------- -->
      
          
          
      
      <router-outlet>
        
      </router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>