
.example-container {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: -100;
}

.example-sidenav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}


  .example-events {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 1px solid #555;
  }

  mat-sidenav{
      
    width: 20rem;
  }
  .classbinding{
   width:10rem; 
  }
  @media only screen and (max-width: 320px) {
    mat-sidenav{
      
        width: 70vw;
      }
  }
  @media only screen and (max-width: 420px) {
    mat-sidenav{
      
        width: 70vw;
      }
  }
