   
   <app-navigation (sidenavToggle)="sidenav.toggle();open()">

   </app-navigation>



<mat-sidenav-container class="example-container">
  
  <!-- sidenav -->

  <!-- for mobile devices mode="over" and other mode="side" -->
    
    <mat-sidenav 
    #sidenav 
    [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()"
    class="sidenav-half-open"
    >

      <!-- options inside the sidenav -->
      <app-slidenav-list></app-slidenav-list>

    </mat-sidenav>
      
      
      
    
  <!-- ------------ -->
    <mat-sidenav-content>


      
          
     <!-- the main content injected in router-outlet -->
    <main>  
      <router-outlet>
        
        
      </router-outlet>
    </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
