
<mat-sidenav-container class="example-container">
  
  <!-- sidenav -->
    
    <mat-sidenav #sidenav mode="side"  [(opened)]="opened">

      <app-slidenav-list></app-slidenav-list>

    </mat-sidenav>
      
      
      
    
  <!-- ------------ -->
    <mat-sidenav-content>

    <app-navigation (sidenavToggle)="sidenav.toggle()"></app-navigation>
      
          
          
      
      <router-outlet>
        
      </router-outlet>
      
    </mat-sidenav-content>
  </mat-sidenav-container>