
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}
.text{
  color: #202124;
}
.text_16px{
  font: "30px Roboto"; 
  font-size: 1.6rem;
  
}
.text_12px{
  font-size: 1.2rem;

}
.logo{
  display: block;
  position: relative;
  text-align: center;
  margin: 2rem;
}
.hcenter{
  text-align: center;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  position: relative;
}

.example-full-width {
  width: 100%;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
.login-card {
  position: absolute;
  max-width: 100%;
  height: auto;
  padding: 4rem;

}
@media only screen and (max-width: 420px) {
  .login-card{
    width: 100%;
    max-height: auto;
    padding: 1rem;
    
    
      
    }
    .text_16px{

      font-size: 1.3rem;
      
    }
    .text_12px{
      font-size: .9rem;
    
    }
    
}
span{
  color: #FF370F;
  text-shadow:  0px 1px 2px 2px#202124;
}
.test{
  
  position: relative;
  height: 300px;
  width: 500px;
}

.margin-bottom{
  margin-bottom: 2rem;
}