.mat-card-question-container{
    
    max-width: 96%;
    height: 81vh;
    margin: 2rem;
    padding: 2rem;
    
}
.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  