<!-- <div class="wrapper">
  <div class="cube">
    <b class="front">front</b>
    <b class="back">back</b>
    <b class="top">top</b>
    <b class="bottom">bottom</b>
    <b class="left">left</b>
    <b class="right">right</b>
    <i class="front"></i>
    <i class="back"></i>
    <i class="top"></i>
    <i class="bottom"></i>
    <i class="left"></i>
    <i class="right"></i>
  </div>
</div> -->

<mat-tab-group>
  <mat-tab label="Login" >
      
      <app-login ></app-login>
  
  
  </mat-tab>

  <mat-tab label="Sign Up">
    
    <app-signup ></app-signup>
    
   
  </mat-tab>
</mat-tab-group>


