<section class="profile">
<mat-card  class="mat-no-effect">
  <div class="background-image" fxLayoutAlign="center center">
    <img src="../assets/image/background.jpeg" alt="background">
    <mat-icon matTooltip="upload cover"  class="upload-cover-icon" 
    (click)="fileUpload.click()">camera_alt</mat-icon>
  </div>
  <div class="profile-image-container profile-image-container-size"  fxLayout="column" fxLayoutAlign="center center">
      <div >
          <!-- this mat-card-avatar only works wthin mat-card -->
              <img mat-card-avatar  class="avatar-big" src="../assets/image/profile.jpg" 
              alt="shivam dwivedi">

              <!-- fileUplaod input for profile -->
              <mat-icon matTooltip="upload profile"class="upload-profile-icon" 
              (click)="fileUpload.click()">camera_alt</mat-icon>
              <input type="file" #fileUpload>

        </div>

  </div>

</mat-card >
<mat-card class="mat-no-effect" >
  <div  class="menu-container" fxLayout="row" fxLayoutAlign="space-around center">

    <div class="menu">
      <span >Overview</span>
    </div>

    <div class="menu">
        <span>Collections</span>
    </div>
    
    <div class="menu">
          <span>Cources</span>
    </div>

    <div class="menu">
            <span>All</span>
    </div>

  </div>

</mat-card>

</section>